.my-custom-menu {
  --width: 500px;
}

ion-slide{
  margin-top: top 30%;
  background:black
}
.homepic{
  position:fixed
}
ion-card{
  margin-top:20px
}

ion-toolbar{
background-color: black;
}
ion-content.content{
  --ion-background-color: black;
}
ion-header.content{
  --ion-background-color: black;
}
ion-content.background-image{
  --background: url(../../assets/img/1.png) no-repeat 30% 50%;
}
ion-button{
  margin-top:160px;
  --color:black;
}
.loop-image{
  width:200px;
  height:20px;
}