<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      </ion-buttons> -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>Lastest</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let item of items">
      <ion-img [src]="item.src" class="image-slider"></ion-img>
    </ion-slide>
  </ion-slides>
  
</ion-content>
