<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
      </ion-buttons> -->
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    <ion-title>watch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe width="320" height="200"
  src="https://www.youtube.com/embed/8b3NauUofUI" 
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>

  <iframe width="320" height="200"
  src="https://www.youtube.com/embed/PqMAe1Ly8OU" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; 
  picture-in-picture" allowfullscreen></iframe>

</ion-content>
