<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header class="header-image">
        <ion-toolbar>
          <ion-title>Search</ion-title>
        </ion-toolbar>

        <ion-searchbar color="danger"></ion-searchbar>
      </ion-header>

    </ion-menu>
    
<ion-router-outlet id="content1"></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="undertab">
    <ion-tab-button tab="home">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lastest">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Lastest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="live">
      <ion-icon name="caret-forward-outline"></ion-icon>
      <ion-label>live</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watch">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label>watch</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="channel">
      <ion-icon name="download-outline"></ion-icon>
      <ion-label>channel</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-app>
